
$info:#82CFF0;
$primary:#3D5159;

.formulario{
    width: 50%;
}
input[type="text"]:hover{
    border-color: $primary;
}
.enviar{width: 25% !important;
    max-width: 25% !important;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.error{
    background-color:red !important;
    color: white !important;

}
////////importacion////////////////////////////////
@import "../node_modules/bootstrap/scss/bootstrap.scss" 


